citacao {
    font-style: italic;
}
body {
    color: #333333;
	font-family: "Lucida	Sans	Unicode",	"Lucida	Grande",	sans-serif;
    border: 2px	solid black;
    border-collapse: separate;
    border-spacing: 10px 20px;
}

p {
    text-align: left;
    padding: 5px 5px;
}

h1	{
    background-color: grey;
    padding-left: 10px;
}
h2 {
    padding-left: 10px;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}
figcaption {
    font-style: italic;
}