body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("images/narga.jpg");
    background-repeat: repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    color: #DDCC99;
}

/* Extra class made to make the buttons get positioned in a better way */
.buttons {
    position: relative;
    left: 15px;
}

.button { 
    text-align: center;
    display: inline-block;
    width: 22%;
    background-color: rgba(15, 15, 15, .6);
    font-size: 20;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: #DDCC99;
    border-color: #DDCC99;
    border-style: double;
}

.title {
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 35px;
}

.description {
    background-color: rgba(0, 0, 0, .5);
    height: 10%;
    position: relative;
    top: 10px;
    left: 350px;
    font-size: 28px;
    font-weight: lighter;
    border-style: double;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: .5%;
    padding-right: .5%;
    color: #DDCC99;
    width: 50%;
    border: 3px solid #DDCC99;
}

.images {
    text-align: left;
    border-style: solid;
    border: 3px solid black;
    position: relative;
    top: 10px;
    right: 220px;
    width: 25%;
}

.info {
    text-align: center;
    position: relative;
    bottom: 370px;
    left: 680px;
    border: 3px solid black;
    width: 25%;
    height: 46.5%;
    background-color: rgba(15, 15, 15, .6);
    font-size: 28px;
}

li:not(:first-child){
    margin-top: -250px;
    margin-bottom: -100px;
}

li:not(:last-child){
    margin-bottom: -250px;
}